
*.bin

ScalarWebApi/.vs/ScalarWebApi/config/

ScalarWebApi/.vs/ScalarWebApi/v17/

ScalarWebApi/bin/Debug/net8.0/

ScalarWebApi/obj/Debug/net8.0/

ScalarWebApi/obj/

ScalarWebApi/.vs/ScalarWebApi/DesignTimeBuild/

ScalarWebApi/bin/Debug/.DS_Store

ScalarWebApi/bin/

ScalarWebApi/.idea/.idea.ScalarWebApi/.idea/

ScalarWebApi/.DS_Store

.DS_Store
